/*--------------------------------------------------*/
          /*SOMMAIRE*/
/*--------------------------------------------------*/
/*
  Ligne 016 - modale - PANIER
    -> General
    -> tableau de commande
    -> formulaire
  Ligne 151 - modale - VALIDATION
    -> attente
    -> validation
     
  Ligne 213 - Responsivity
*/

/*  /////////////////// modale - PANIER //////////////////////// */
/*  /////////////////// modale - general //////////////////////// */
cart {
  cursor: auto;
}

cart.recap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

cart.recap:target  {
  display: block;
}

modale {
  background-color:white;
  width: 50vh;
  overflow-y: auto;
}

cart h2 {
  margin-top: 1rem;
  margin-left: 1rem;
}
/* bouton "fermer" */
#close-zoom {
  text-align: right;
  margin-right: 1rem;
  font-size: 2.5em;
}

#close-zoom:hover {
  color: rgba(151, 83, 137, 0.7);
}
.fa-times {
  cursor: pointer;
}

#commande {
  display: flex;
  flex-direction: column;
}

panier, registration {
  background-color: var(--bg-light-color);
  box-shadow: 2px 2px 10px #F3E9F1;
  height: auto;
  text-align: center;
  margin: 2rem 1rem;
  padding: 1rem;
}

/*  /////////////// tableau de commande ////////////////////// */
table {
  margin: 1rem auto;
  font-size: 0.8em;
  border-collapse: collapse;
  background-color: var(--bg-light-color);
  box-shadow: 2px 2px 10px #F3E9F1;
  width: 80%;
  height: auto;
  text-align: center;
  padding-bottom: 1rem;
} 

table img {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  max-width: 90%;
}

table thead {
  background-color: var(--bg-dark-color);
  color: white;
}

td, th {
  border: 1px solid grey;
  padding: 0.5rem;
}

thead tr th:first-child {
  width: 100px;
}

td .fa-trash-alt {
  cursor: pointer !important;
}

#total td:first-child {
  text-transform: uppercase;
  text-align: right;
}

/*  /////////////////// formulaire //////////////////////// */
formulaire {
  text-align: center;
}

#erreur {
  color: red;
}

.sendform {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;

}
label {
  display: flex;
  font-weight: 700
}
input {
  margin-bottom: 0.5rem;
}
#addbutton {
  margin-top: 1rem;
}

/*  /////////////////// modale - VALIDATION //////////////////////// */
/*  /////////////////// modale - attente //////////////////////// */
#attente {
  width: 15vh;
  height: 10vh;
  justify-content: center;
}
/* les points de suspension avant la modale validation */
#attente:hover {
  cursor: pointer;
}

#attente:hover p {
  display: none;
}

#ellipsis {
  display: flex;
  justify-content: center;
}

.point {
  background-color: var(--bg-orange);
  border-radius: 50%;
  height: 1vh;
  width: 1vh;
  margin: 0.5vh;
}

#ellipsis:hover .point--1 {
   animation: points 1000ms 200ms both infinite alternate ease-in-out;
}
#ellipsis:hover .point--2 {
   animation: points 1000ms  400ms both infinite alternate ease-in-out;
}
#ellipsis:hover .point--3 {
   animation: points 1000ms 600ms both infinite alternate ease-in-out;
}

@keyframes points {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
/*  /////////////////// modale - validation //////////////////////// */
#confirm {
  background-color: var(--bg-light-color);
  box-shadow: 2px 2px 10px #F3E9F1;
  height: auto;
  text-align: center;
  margin: 2rem 1rem;
  padding: 1rem;
}

.valid {
  color: black;
  font-size: 1.5em;
}

/* //////////////////////////// RESPONSIVITY //////////////////////////// */ 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  input {
    margin: 0 2rem 0.5rem auto;
    min-width: 300px;
  }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  /* général */
  modale {
    width: auto;
  }

  /* page panier */
  #commande {
    display: flex;
    flex-direction: row;
  }

  /* formulaire */
  registration {
    max-width: 400px;
  }

  #formulaire h2 {
    margin-left: 0;
  }

  label {
    min-width: 80px;
  }

  form {
    margin: 1rem auto; 
  }

  .form-group {
    flex-direction: row;
  }
  input {
    max-width: 300px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
/* page panier */
  #cart-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #order, #formulaire {
    margin-top: 2.5rem;
  }

  #order {
    min-width: 420px;
    max-width: 600px;
  }
}
