/*--------------------------------------------------*/
					/*SOMMAIRE*/
/*--------------------------------------------------*/
/*
	Ligne 020 - Base (Polices et général)
	Ligne 031 - Utils (variables)
	Ligne 043 - Layout (header, footer)
	Ligne 104 - Components (icones et boutons)
	Ligne 164 - Responsivity

	products.css	- pages liste de produits et détail du produit sélectionné
	modales.css		- pages panier/attente/validation
*/


/* //////////////////////////// BASE //////////////////////////////// */

@import url('https://fonts.googleapis.com/css?family=Finger+Paint|Noto+Serif|Roboto&display=swap');
body {
	font-family: 'Noto Serif';
	margin: 0;
	margin-bottom: -17px;
}

li {
  list-style: none;
}

/* //////////////////////////// UTILS //////////////////////////////// */

:root /* Définition des couleurs dans tout le document*/
{	
	--bg-color: #F3E9F1;
	--bg-light-color: #FBF7FA;
	--bg-dark-color: #975389;
	--bg-orange: #d07904;
	--bg-violet: #8F53FF;
	--txt-color: #3E3E3E;
}

/* //////////////////////////// LAYOUT //////////////////////////////// */
/* //////////////////////////// header //////////////////////////////// */
header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--bg-color);
	top: 0;
	left: 0;
	height: 5rem;
	width: 100%;
}

h1 .fa-chair {
  display: none;
}

h1 {
 	font: 1.7em "Finger Paint";
 	color: var(--txt-color);
 	margin: 0.5rem;
}

/* //////////////////////////// footer //////////////////////////////// */
footer {
 	bottom: 0;
 	background-color: var(--bg-color);
	height: auto;
	width: 100%;
	text-align: center;
 }
#stores {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer h2 {
	font-family: "Finger Paint";
	font-size: 1.1em;
	margin: 1rem auto 0 auto;
}
footer p {
	font-size: 0.9em;
	margin: 0.2rem auto 0.5rem auto;
}

footer ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
 	list-style: none;
 	padding: 0;
 }

footer li {
	font-size: 0.9em;
	padding-bottom: 0.5rem;
}

/* //////////////////////////// COMPONENTS //////////////////////////// */ 
/* //////////////////////////// icône accueil /////////////////////////*/
#home {
	width: 38px;
	height: 38px;
	transition: background 0.1s linear;
  	background: var(--bg-dark-color);
  	border-radius: 8px;
 	color: #fff;
    left: 16px;
  	font-size: 2em;
  	padding: 6px;
  	text-align: center;
  	align-items: center;
  	text-decoration: none;
  	cursor: pointer;
}

#home:hover {
  background: rgba(151, 83, 137, 0.7);
}

/* ///////////////////////// icône panier //////////////////////////*/
.nav-icon {
	font-size: 2.3em;
	cursor: pointer;
} 

.cart-btn {
	color: var(--bg-dark-color);
	position: relative;
	cursor: pointer;
}

.nav-icon :hover {
 	color: rgba(151, 83, 137, 0.7);
 }

.cart-items {
	position: absolute;
	top: -4px;
	right: -8px;
	background: var(--bg-orange);
	padding: 0 5px;
	border-radius: 30%;
	color: white;
}

/*  /////////////////////// les boutons ////////////////////////////// */
button {
	cursor: pointer;
	background-color: var(--bg-dark-color);
	box-shadow: 1px 1px 4px #975389;
	border: none;
	border-radius: 50px;
	width: 200px;
	font-size: 1.1em;
	color: white;
	padding: 0.6rem;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

button:hover {
	background-color: rgba(151, 83, 137, 0.7);
}

 /* //////////////////////////// RESPONSIVITY //////////////////////////// */ 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	/* header */
	h1 .fa-chair {
	  	display: inline-block;
		background: linear-gradient(135deg,  #EB8B27 20%, #915CF5 80%); 
		-webkit-background-clip: text;
	    color: transparent;
	    font-size: 1.1em;
	    padding: 0.5rem;
	    margin-left: 1rem;
	}

	#title {
		min-width: 350px;
	}

	/* footer*/
	footer {
	 	position: fixed;
	 	display: flex;
 		justify-content: space-around;
	}
	footer h2 {
		font-size: 1.8em;
	}
	footer p {
		font-size: 1.2em;
	}
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	h1 {
	  font-size: 2.3em;   
	  margin-top: 0.4rem;
	}
	#title {
		min-width: 600px;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
/* footer */
	footer {
		height: 18vh;
	}
	footer p {
		margin: 1.7rem auto auto 2.5rem;
	}
	.boutique {
		display: flex;
	}
}