/*--------------------------------------------------*/
					/*SOMMAIRE*/
/*--------------------------------------------------*/
/*
	Ligne 000 - Base (Polices et général)
	Ligne 000 - Utils (variables)
	Ligne 000 - Layout (header, footer)
	Ligne 000 - Components
	 	 -> menu déroulant
	 	 -> 
	 	
	Ligne 000  - Pages (accueil, meuble1,2,3,4,5, panier, confirmation )
		 -> page d'accueil

		 
	Ligne 000 - Responsivité
*/


/* //////////////////////////// BASE //////////////////////////////// */

@import url('https://fonts.googleapis.com/css?family=Finger+Paint|Noto+Serif|Roboto&display=swap');
body {
	font-family: 'Noto Serif';
	margin: 0;
}
li {
  list-style: none;
}

/* //////////////////////////// UTILS //////////////////////////////// */

:root /* Définition des couleurs */
{	/*header et footer*/
	--bg-color: #F3E9F1;
	--bg-light-color: #FBF7FA;
	--bg-dark-color: #975389;
	--bg-orange: #F48C00;
	--bg-violet: #8F53FF;
	--txt-color: #3E3E3E;
}

/* //////////////////////////// LAYOUT //////////////////////////////// */
/* //////////////////////////// header //////////////////////////////// */
header {
	display: flex;
	justify-content: space-between;
	background-color: var(--bg-color);
	top: 0;/* ne fonctionne pas*/
	left: 0;
	height: 4rem;
	width: 100%;
}

h1 .fa-shopping-cart {
  display: none;
}

h1 {
 	font: 1.8em "Finger Paint";
 	color: var(--txt-color);
 	margin: 0.5rem;
}

/* //////////////////////////// footer //////////////////////////////// */
footer {
 	position: fixed;
 	bottom: 0;
 	display: flex;
 	justify-content: space-between;
 	background-color: var(--bg-color);
	height: auto;
	width: 100%;

 }

footer h2 {
	font: 1.2em "Finger Paint";
	margin: 1rem auto 0.2rem 0.5rem;
}
footer p {
	margin: 0.2rem auto 1rem 1rem;
	font-size: 0.8em;
}

footer ul {
 	list-style: none;
 	font-size: 0.7em;
 	margin: auto 0.3rem;
 	padding-right: 0.5rem;
 }

footer li {
	padding-bottom: 0.5rem;
}

/* //////////////////////////// COMPONENTS //////////////////////////// */ 
/* //////////////////////////// menu hamburger /////////////////////////*/
a {
	text-decoration: none;
}
nav a {
 	color: var(--bg-violet);
}
nav a:hover {
 	color: var(--bg-orange);
 }
#menu-content {
	display: none;
}

/* le menu déroulant ou "accordion" */
.accordion {
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: left;
  margin: 1%;
}
.accordion:hover .accordion-content {
  max-height: 300px;
}
.accordion-content {
	z-index: 5;
	transition: max-height 1s;
	background: #f3e9f1;
	overflow: hidden;
	max-height: 0;
}
.accordion-inner {
  padding: 0 15px;
  width: 110px;
}
.accordion-toggle {
  transition: background 0.1s linear;
  background: var(--bg-dark-color);
  border-radius: 8px;
  color: #fff;
  display: block;
  font-size: 30px;
  margin: 0 0 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.accordion-toggle:hover {
  background: var(--bg-violet);
}

/* ///////////////////// fin menu hambuger //////////////////////// */

/*  /////////////////// articles - accueil //////////////////////// */
section h2{
	margin-left: 2rem;
}

figure {
	background-color: var(--bg-light-color);
	box-shadow: 2px 2px 10px #F3E9F1;
	width: 80%;
	height: auto;
	margin-bottom: 2rem;
}

figure img, figcaption, figure h3 {
	margin: 1.2rem auto;
	padding-bottom: 1rem;
	text-align: center;
}

figure img {
	max-width: 100%;
	max-height: 60%;
}

figcaption {
	color: var(--bg-orange);
}

figure p {
	margin: auto 1rem;
}

figure h3 {
	color: var(--txt-color);
}

#produits, #furniture {
	margin-bottom: 25vh;
	text-align: center;
}

/*  /////////////////// pages - produit //////////////////////// */
div[id*="content"] figcaption, div[id*="content"] p, div[id*="content"] label {
	text-align: left;
	padding: 1rem;
	margin: 0;
}
div[id*="content"] label {
	font-size: 0.8em;
}

/*  /////////////////////// les boutons ////////////////////////////// */

#addbutton {
	cursor: pointer;
	background-color: var(--bg-dark-color);
	box-shadow: 1px 1px 4px #975389;
	border: none;
	border-radius: 50px;
	width: 200px;
	font-size: 1.1em;
	color: white;
	padding: 0.6rem;
	margin-bottom: 3rem;
}


 /* //////////////////////////// MEDIAS //////////////////////////// */ 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	h1 {
	  font-size: 1.5em;   
	  margin-top: 0.9rem;
	}

	h1 .fa-shopping-cart {
	  	display: inline-block;
		background: linear-gradient(135deg,  #EB8B27 20%, #915CF5 80%); 
		-webkit-background-clip: text;
	    color: transparent;
	    font-size: 1.1em;
	    padding: 0.5rem;
	    margin-left: 1rem;
	}
	 
	#menu-button {
		display: none;
	}

	header ul {
	 	display: flex;
	 	justify-content: space-around;
	 	list-style: none;
	  	margin-top: 2rem;
	 }

	#menu-content {
	  display: flex;
	  justify-content: space-between;
	  margin: auto;
	}

	#menu-content li {
		margin-top: -0.5rem;
		padding-right: 1.1rem;
  		font-size: 1em;
	}

	#produits {
		margin-bottom: 22vh;
	}

	footer {
		justify-content: space-around;
	}
	footer h2 {
		font-size: 1.8em;
	}
	footer p {
		font-size: 1.2em;
	}
	footer ul {
	 	font-size: 1em;
	 }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	h1 {
	  font-size: 2.3em;   
	  margin-top: 0.4rem;
	}
	figure {
		width: 90%;
		display: flex;
		align-items: center;
		margin: auto;
		margin-bottom: 3rem;
		padding: 0.7rem;
	}
	figure img {
		max-width: 35%;
	}
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	#menu-content li {
		margin-top: -0.8rem;
		padding-right: 2rem;
  		font-size: 1.3em;
	}

	figure {
		width: 80%;
		padding: 2rem;
	}
	figure figcaption {
		font-size: 1.6em;
	}
	figure h3 {
		font-size: 1.7em;
	}

	footer {
		height: 15vh;
	}
	footer p {
		margin: 1.7rem auto auto 2.5rem;
	}
	.boutique {
		display: flex;
	}
}