/*--------------------------------------------------*/
					/*SOMMAIRE*/
/*--------------------------------------------------*/
/*
	Ligne 000 - Base (Polices et général)
	Ligne 000 - Utils (variables)
	Ligne 000 - Layout (header, footer)
	Ligne 000 - Components
	 	 -> menu déroulant
	 	 -> 
	 	
	Ligne 000  - Pages (accueil, meuble1,2,3,4,5, panier, confirmation )
		 -> page d'accueil

		 
	Ligne 000 - Responsivité
*/


/* //////////////////////////// BASE //////////////////////////////// */

@import url('https://fonts.googleapis.com/css?family=Finger+Paint|Noto+Serif|Roboto&display=swap');
body {
	font-family: 'Noto Serif';
	margin: 0;
}
li {
  list-style: none;
}

/* //////////////////////////// UTILS //////////////////////////////// */

:root /* Définition des couleurs */
{	/*header et footer*/
	--bg-color: #F3E9F1;
	--bg-light-color: #FBF7FA;
	--bg-dark-color: #975389;
	--bg-orange: #F48C00;
	--bg-violet: #8F53FF;
	--txt-color: #3E3E3E;
}

/* //////////////////////////// LAYOUT //////////////////////////////// */
/* //////////////////////////// header //////////////////////////////// */
header {
	display: flex;
	justify-content: stretch;
	align-items: center;
	background-color: var(--bg-color);
	top: 0;
	left: 0;
	height: 5rem;
	width: 100%;
}

#title {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-width: 250px;
	margin-right: 1rem;
}

h1 .fa-shopping-cart {
  display: none;
}

h1 {
 	font: 1.8em "Finger Paint";
 	color: var(--txt-color);
 	margin: 0.5rem;
}

/* //////////////////////////// footer //////////////////////////////// */
footer {
 	position: fixed;
 	bottom: 0;
 	background-color: var(--bg-color);
	height: auto;
	width: 100%;
	text-align: center;
 }
#stores {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer h2 {
	font-family: "Finger Paint";
	font-size: 1.1em;
	margin: 1rem auto 0 auto;
}
footer p {
	font-size: 0.9em;
	margin: 0.2rem auto 0.5rem auto;
}

footer ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
 	list-style: none;
 	padding: 0;
 }

footer li {
	font-size: 0.9em;
	padding-bottom: 0.5rem;
}

/* //////////////////////////// COMPONENTS //////////////////////////// */ 
/* //////////////////////////// menu hamburger /////////////////////////*/
.smallburger, .bigburger {
  position: absolute;
  z-index: 10;
  top: 14px;
  left: 16px;
}

.accordion-inner {
	background-color: var(--bg-color);
	justify-content: left;
	padding: 1rem;
}

.accordion-inner li {
	padding: 1rem;
}

a {
	text-decoration: none;
}
nav a {
 	color: var(--bg-violet);
}
nav a:hover {
 	color: var(--bg-orange);
 }

/* le menu déroulant ou "accordion" */
.accordion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.accordion-toggle {
	width: 38px;
	height: 38px;
	transition: background 0.1s linear;
  	background: var(--bg-dark-color);
  	border-radius: 8px;
 	color: #fff;
  	display: block;
  	font-size: 30px;
  	padding: 8px;
  	text-align: center;
  	text-decoration: none;
}
.accordion-toggle:hover {
  background: var(--bg-violet);
}

/* ///////////////////// fin menu hambuger //////////////////////// */
/* ///////////////////////// icône panier //////////////////////////*/
.nav-icon {
	font-size: 1.8em;
}
.cart-btn {
	position: relative;
	cursor: pointer;
}
.cart-items {
	position: absolute;
	top: -8px;
	right: -8px;
	background: var(--bg-dark-color);
	padding: 0 5px;
	border-radius: 30%;
	color: white;
}
/*  /////////////////// articles - accueil //////////////////////// */
section h2 {
	text-align: left;
	margin-left: 2rem;
}

figure, form {
	background-color: var(--bg-light-color);
	box-shadow: 2px 2px 10px #F3E9F1;
	width: 80%;
	height: auto;
	margin: 2rem auto;
	padding-bottom: 1rem;
}

figure img, figcaption, figure p, figure h3 {
	margin: 1.2rem 1rem 1.2rem auto;
	padding: 0 0.5rem;
	text-align: center;
}

figure img {
	max-width: 95%;
	max-height: 60%;
}

figcaption {
	color: var(--bg-orange);
	font-size: 1.8em;

}

figure h3 {
	color: var(--txt-color);
}

#contenu, #furniture {
	margin-bottom: 50vh;
	text-align: center;
}

/*  /////////////////// pages - produit //////////////////////// */
select {
	width: 80%;
	text-align: center;
	border-radius: 5px;
	color: var(--bg-violet);
}

#addbtn {
	padding: 2rem;
}

#addbtn h3 {
	font-size: 2em;
}
/*  /////////////////// page - PANIER //////////////////////// */
/*  /////////////// tableau de commande ////////////////////// */
#order {
	margin-bottom: 1rem;
}
table {
	margin: 1rem auto;
	font-size: 0.8em;
	border-collapse: collapse;
	background-color: var(--bg-light-color);
	box-shadow: 2px 2px 10px #F3E9F1;
	width: 80%;
	height: auto;
	padding-bottom: 1rem;
}
table img {
	margin: 0;
	padding: 0.5rem;
	text-align: center;
	max-width: 90%;
}

table thead {
	background-color: var(--bg-dark-color);
	color: white;
}

td, th {
	border: 1px solid grey;
}
thead tr th:first-child {
	width: 100px;
}

#total td:first-child {
	text-transform: uppercase;
	text-align: right;
}
/*  /////////////////// formulaire //////////////////////// */
#formulaire {
	margin-top: 3rem;
}
form {
	margin-top: 0;
	padding: 1rem;
}
.form-group {
	display: flex;
	flex-direction: column;

}
label {
	display: flex;
	align-items: left;
    font-weight: 700
}
input {
	margin-bottom: 0.5rem;
}

/*  /////////////////////// les boutons ////////////////////////////// */

#addbutton, #btn-envoyer {
	cursor: pointer;
	background-color: var(--bg-dark-color);
	box-shadow: 1px 1px 4px #975389;
	border: none;
	border-radius: 50px;
	width: 200px;
	font-size: 1.1em;
	color: white;
	padding: 0.6rem;
	margin-bottom: 1,5rem;
}


 /* //////////////////////////// MEDIAS //////////////////////////// */ 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	/* header */
	h1 .fa-shopping-cart {
	  	display: inline-block;
		background: linear-gradient(135deg,  #EB8B27 20%, #915CF5 80%); 
		-webkit-background-clip: text;
	    color: transparent;
	    font-size: 1.1em;
	    padding: 0.5rem;
	    margin-left: 1rem;
	}

	#title {
		min-width: 350px;
	}

	/* section */ 
	#contenu {
		margin-bottom: 22vh;
	}
	.form-group {
		flex-direction: row;
	}
	input {
		margin: 0 2rem 0.5rem auto;
		min-width: 300px;
	}
	/* footer*/
	footer {
		display: flex;
 		justify-content: space-around;
	}
	footer h2 {
		font-size: 1.8em;
	}
	footer p {
		font-size: 1.2em;
	}
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	h1 {
	  font-size: 2.3em;   
	  margin-top: 0.4rem;
	}
	#title {
		min-width: 600px;
	}

	figure {
		width: 90%;
		display: flex;
		align-items: center;
		padding: 0.7rem;
	}
	figure img {
		max-width: 35%;
		margin-left: 2rem;
	}

	figcaption, figure p, select {
		text-align: left;
	}

	select {
		width: 100%;
		max-width: 250px;
	}
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	#menu-content li {
		margin-top: -0.8rem;
		padding-right: 2rem;
  		font-size: 1.3em;
	}

	figure {
		width: 80%;
		padding: 2rem;
	}
	figure figcaption {
		font-size: 1.6em;
	}
	figure h3 {
		font-size: 1.7em;
	}

	footer {
		height: 18vh;
	}
	footer p {
		margin: 1.7rem auto auto 2.5rem;
	}
	.boutique {
		display: flex;
	}
}